#myCarousel {
  margin-top: 50px;
}
.navbar-brand {
  font-size: 50px;
}
nav {
  background-color: #008B8B;
}
body {
  background-color:#20B2AA;
  font-family: Arial;
}
h4 {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  font-weight: bold;
}
span {
  font-weight: bold;
}
p {
  margin-left:20px;
}
.zeus {
  background-color: #B0E2FF;
  margin-top: 50px;
}
.gizeh {
  background-color: #A4D3EE;
}
.artemis {
  background-color: #8DB6CD;
}
.grabmal {
  background-color: #A4D3EE;
}
.garten {
  background-color: #B0E2FF;
}
.koloss {
  background-color: #A4D3EE;
}
.pharos {
  background-color: #8DB6CD;
}
.rechts {
  display: inline-block;
}
