#myCarousel {
  margin-top: 50px;
}
.navbar-brand {
  font-size: 50px;
}
nav {
  background-color: #008B8B;
}
body {
  background-color:#20B2AA;
  font-family: Arial;
}
.col-sm-4. {
  border-top: 1px solid black;
}
h4 {
  margin-top: 75px;
  margin-left: 50px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
   
}
span {
  font-weight: bold;
}
p {
  margin-left:20px;
}
.zeus {
  background-color: #B0E2FF;
  margin-top: 50px;
  height: 600px;
  width:100%;
}
.gizeh {
  background-color: #A4D3EE;
  height: 600px;
  width:100%;
}
.artemis {
  background-color: #8DB6CD;
  height: 600px;
  width:100%;
}
.grabmal {
  background-color: #A4D3EE;
  height: 600px;
  width:100%;
}
.garten {
  background-color: #B0E2FF;
  height: 600px;
  width:100%;
}
.koloss {
  background-color: #A4D3EE;
  height: 600px;
  width:100%;
}
.leuchtturm {
  background-color: #8DB6CD;
  height: 600px;
  width:100%;
}
.rechts {
  display: inline-block;
}
.col-sm-12 {
  border-top: 1px solid black;
}
